.about-block {
  @include main-padding;

  min-height: 1480px;
  border: 1px solid red;

  @media #{$tablet-widths} {
    min-height: 1160px;
  }

  @media #{$desktop-widths} {
    min-height: 1200px;
  }

  &__header {
    @include header;

    margin-top: 31px;

    margin-bottom: 25px;
  }

  &__item-wrapper {

  }

  &__item {
    border: 0.2px solid green;

    min-height: 100px;

  }

  &__icon {

  }

  &__text {
    margin-top: 60px;

    font-size: 13pt;
    line-height: 17pt;
    font-weight: bold;

    @media #{$tablet-widths} {
      font-size: 20pt;
      line-height: 24pt;
    }

    @media #{$desktop-widths} {

    }

  }

  &__feedback-wrapper {

  }

  &__feedback-header {
    margin-top: 40px;

    @include header;

  }

  &__feedback-text {
    margin-top: 22px;

    font-size: 11pt;
    line-height: 23pt;

    letter-spacing: 0.1px;

    @media #{$tablet-widths} {
      font-size: 17pt;
      line-height: 24pt;
    }

    @media #{$desktop-widths} {

    }


  }

  &__feedback-name {
    margin-top: 25px;

  }

  &__feedback-name-author {
    font-size: 13.5pt;
    font-weight: bold;

    @media #{$tablet-widths} {
      font-size: 17pt;
      line-height: 2pt;
    }

    @media #{$desktop-widths} {

    }
  }

  &__feedback-name-login {
    font-size: 13.3pt;
    line-height: 28pt;

    @media #{$tablet-widths} {
      font-size: 17pt;
    }

  }

  &__feedback-arrow {
    border: 1 solid green;

    min-height: 115px;

  }

  &__button {
  @include button-text;

  }
}
