.contacts-block {

  min-height: 900px;
  border: 1px solid yellow;

  @media #{$tablet-widths} {
    min-height: 940px;
  }

  @media #{$desktop-widths} {
    min-height: 650px;

  }

  &__header {
    margin-left: 30px;
    margin-top: 34px;

    font-size: 14pt;
    line-height: 30pt;
    font-weight: bold;

    @media #{$tablet-widths} {
      font-size: 43pt;
      line-height: 50pt;
    }

    @media #{$desktop-widths} {
      font-size: 53pt;
      line-height: 57pt;
    }

  }

  &__wrapper {
    @include main-padding;
    margin-top: 4px;

    display: flex;
    flex-wrap: nowrap;
  }

  &__column {


    margin-left: 30px;

    font-size: 11pt;
    line-height: 23pt;

    @media #{$tablet-widths} {
      font-size: 17pt;
    }

    @media #{$desktop-widths} {

    }

  }

  &__column:first-child {margin-left: 0;}

  &__map {
    opacity: .5;
  }

  &__map-image {
    margin-top: 22px;
    background-color: $footer;

  }

  &__button {
    @include button-text;
    margin-top: 35px;
    margin-left: 30px;
    width: 81%;
  }

}
