.contacts-block {

  min-height: 900px;
  border: 1px solid yellow;

  @media #{$tablet-widths} {
    min-height: 940px;
  }

  @media #{$desktop-widths} {
    min-height: 650px;

  }

  &__header {
    font-size: 18pt;
    line-height: 30pt;
    font-weight: bold;

    @media #{$tablet-widths} {
      font-size: 43pt;
      line-height: 50pt;
    }

    @media #{$desktop-widths} {
      font-size: 53pt;
      line-height: 57pt;
    }

  }

  &__wrapper {

  }

  &__column {
    font-size: 15pt;
    line-height: 30pt;

    @media #{$tablet-widths} {
      font-size: 17pt;
    }

    @media #{$desktop-widths} {

    }

  }

  &__map {

  }

  &__map-image {
    background-color: $footer;

  }

  &__button {
    @include button-text;
  }

}
