.featured-main {
  @include main-padding;

  min-height: 820px;
  border: 1px solid green;
  text-align: left;

  @media #{$tablet-widths} {
    display: flex;
    flex-wrap: wrap;

    min-height: 620px;
  }

  @media #{$desktop-widths} {
    min-height: 700px;
  }

  &__header {


    font-size: 19pt;
    line-height: 28pt;
    font-weight: bold;

    margin-top: 20px;

    @media #{$tablet-widths} {
      font-size: 32pt;
      margin-top: 44px;
    }

    @media #{$desktop-widths} {
      font-size: 53pt;
      line-height: 57pt;
    }

  }

  &__label {
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
    color: $green;
    text-transform: uppercase;

    letter-spacing: 0.8px;
  }

  &__text {
    margin-top: 18px;

    font-size: 11pt;
    line-height: 19pt;

    letter-spacing: 0.2px;

    @media #{$tablet-widths} {
      font-size: 12.5pt;
      line-height: 30pt;
    }

    @media #{$desktop-widths} {

    }

  }

  &__about {
    display: flex;

  }

  &__about-column {
    margin-top: 0;
    margin-right: 29px;

    font-size: 11pt;
    line-height: 30pt;
  }

  &__picture {

  }

  &__picture-image {
    margin-top: 15px;

    background-color: #f1f1f1;

    border: 0.1px solid black;

  }

  &__price {
    text-align: center;

    font-size: 13pt;
    line-height: 19pt;
    font-weight: bold;

    margin-bottom: 24px;

    @media #{$tablet-widths} {
      font-size: 20pt;
      line-height: 24pt;
    }

    @media #{$desktop-widths} {

    }

  }

  &__button {
    @include button-text;
  }
}
