.featured-main {
  @include main-padding;

  min-height: 820px;
  border: 1px solid green;
  text-align: left;

  @media #{$tablet-widths} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-content: flex-start;

    min-height: 620px;
  }

  @media #{$desktop-widths} {
    min-height: 800px;
    padding-left: 225px;
    justify-content:flex-start;
    position: relative;
    flex-direction: column;
  }

  &__header {
    font-size: 19pt;
    line-height: 28pt;
    font-weight: bold;

    margin-top: 20px;

    @media #{$tablet-widths} {
      font-size: 32pt;
      margin-top: 47px;

      margin-left: -5px;
    }

    @media #{$desktop-widths} {
      font-size: 40pt;
      margin-top: -38px;
      margin-left: -5px;

      letter-spacing: -0.3px;
    }

  }

  &__label {
    font-size: 12pt;
    line-height: 12pt;
    font-weight: bold;
    color: $green;
    text-transform: uppercase;

    letter-spacing: 0.8px;

    @media #{$tablet-widths} {
      border: 1px solid red;
      font-size: 12pt;
      font-weight: normal;

      text-align: center;
      width: 70px;

      margin-top: 52px;
      margin-right: 26px;
      letter-spacing: 1.3px;

    }

    @media #{$desktop-widths} {
      order: -1;
      margin-left: -130px;
      margin-top: 134px;

    }
  }

  &__about {

    display: flex;
    flex-wrap: wrap;

    @media #{$tablet-widths} {
      flex-direction: column;
      width: 45%;
      margin-left: -2px;
    }
  }

  &__about-text {
    margin-top: 18px;

    font-size: 11pt;
    line-height: 19pt;

    letter-spacing: 0.2px;

    @media #{$tablet-widths} {
      color: $btn;

      font-size: 12.5pt;
      line-height: 30px;
      margin-top: 54px;

    }

    @media #{$desktop-widths} {
      margin-top: 56px;
      width: 300px;
    }
  }

  &__about-wrap {
     display: flex;

    @media #{$tablet-widths} {
      flex-direction: row;

      margin-top: 18px;
    }

    @media #{$desktop-widths} {
      margin-top: 30px;
    }

  }

  &__about-column {
    margin-top: 0;
    margin-right: 29px;

    font-size: 11pt;
    line-height: 30pt;

    @media #{$tablet-widths} {
      flex-direction: row;

      }
  }

  &__picture {
    @media #{$tablet-widths} {

    }

  }

  &__picture-image {
    margin-top: 15px;

    background-color: #f1f1f1;

    border: 0.1px solid black;

    @media #{$tablet-widths} {
      margin-top: 62px;
      width: 330px;
    }

    @media #{$desktop-widths} {
      order: 3;

      position: absolute;
      top: 5px;
      right: 50px;
      z-index: -1;

      width: 525px;
      height: 635px;

    }

  }

  &__price-wrap {
    @media #{$tablet-widths} {
      width: 290px;

      margin-top: -138px;
    }
    @media #{$desktop-widths} {
      margin-top: 75px;
    }
  }

  &__price {
    text-align: center;

    font-size: 13pt;
    line-height: 19pt;
    font-weight: bold;

    margin-bottom: 24px;

    @media #{$tablet-widths} {
      color: $btn;
      font-size: 15pt;
      line-height: 24pt;

      margin-bottom: 29px;
    }

    @media #{$desktop-widths} {

    }

  }

  &__button {
    @include button-text;

    @media #{$tablet-widths} {

    }
  }
}
