.featured-block {

}

.featured-intro {
  @include main-padding;

  display: flex;
  flex-wrap: wrap;

  min-height: 205px;


  @media #{$tablet-widths} {
    min-height: 120px;

    flex-wrap: nowrap;

  }

  @media #{$desktop-widths} {

  }

  &__item {
    width: 100%;

    margin-top: 17pt;
    min-height: 78px;

    font-size: 14pt;
    line-height: 20pt;
    color: white;

    letter-spacing: 1px;



    @media #{$tablet-widths} {
      width: 50%;

      font-size: 15pt;
      line-height: 22pt;


      margin-top: 18pt;
      margin-left: 33px;

    }

    @media #{$desktop-widths} {
        margin-left: 36px;
    }
  }

}
