.form-input-radio {
  font-size: 13pt;
  line-height: 16pt;
  font-weight: bold;

  @media #{$tablet-widths} {
    margin-top: -21px;

    min-height: 115px;

  }

  &__label {
    display: block;

    border: 1pt solid red;
    margin-top: 20pt;
    margin-left: 45pt;

    @media #{$tablet-widths} {
      margin-top: 0;
      margin-left: 185pt;
      margin-bottom: 38pt;

      letter-spacing: 1px;

    }

    @media #{$desktop-widths} {
    margin-left: 190pt;
    }

  }

  &__input {
    display: none;
  }

  &__after {
    border: 1pt solid red;

      position: relative;
      display: inline-block;
      vertical-align: baseline;

      margin-left: 50pt;

  }
}
