.form-input {
  border: 0.5pt solid yellow;
  margin-top: 15pt;
  margin-bottom: 20pt;

  @media #{$tablet-widths} {
      margin-bottom: 0;
      margin-top: 0;

  }

  @media #{$desktop-widths} {

    margin-bottom: 0;
  }

  &__header {
    font-size: 12pt;
    line-height: 16pt;
    text-transform: uppercase;
    color: $green;

    @media #{$tablet-widths} {

        margin-top: 70px;

    }

    @media #{$desktop-widths} {

      margin-left: 48pt;
    }
  }

  &__textarea {
    font-size: 19pt;
    line-height: 18pt;
  }

  &__submit {
    font-size: 17pt;
    line-height: 16pt;
    font-weight: bold;
    text-transform: uppercase;

  }

  &__checker {
    font-size: 17pt;
    line-height: 16pt;
  }

  &--grey {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
