$mobile-widths: "(max-width:767px)";
$tablet-widths: "(min-width:768px)";
$desktop-widths: "(min-width:1200px)";

$background: #ffffff;

$ligthtgreen: #bde3dd;
$green: #58D1BC;
$green2: #46c1ae;
$darkgreen: #3bb09d;

$Biglink: #000000;
$BiglinkHVR: #b8b8b8;
$BiglinkDown: #cacaca;

$btn: #444444;

$error: #f0b1b1;

$footer: #f1f1f1;

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

body {
  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 27px;
  color: #333;
  font-style: normal;
  box-sizing: border-box;

  background-color: #f2f2f2;
}

fieldset {
  border: none;
  margin: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.global-wrapper {

}
