body {
  font-size: 18px;
  font-family:"Open Sans", Arial, Sans-serif;
  line-height: 27px;
  font-style: normal;
  box-sizing: border-box;

  background-color: white;

  @include container;

}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

h2 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.global-wrapper {

}
