.main-nav {
  font-size: 17px;
  line-height: 24pt;
  font-weight: bold;

  min-height: 77px;
  border: 1px solid green;

  margin: 0 auto;

  @media #{$tablet-widths} {
    min-height: 85px;

    width: auto;
    margin: 0;
  }


  &__item {
    display: none;

    min-height: 80px;

  }

  &--open {

  }

  &--close {

  }

  &--left {

  }

  &--right {

  }
}
