.sub-header {
  //background-color: #f9f9f9;

  &__item {
    display: none;

    @media #{$tablet-widths} {
      display: inline-block;
      font-weight: bold;
      font-size: 15pt;
      line-height: 24px;
    }

    @media #{$desktop-widths} {

    }
  }

  &__item--right {
    font-weight: normal;
  }

  &__header {
    text-align: center;
    font-weight: bold;
    font-size: 27pt;
    line-height: 30px;

    @media #{$tablet-widths} {
      font-size: 43pt;
      line-height: 50px;

    }

    @media #{$desktop-widths} {

    }

    &--img{

    }
  }
}
