.sub-header {
  //background-color: #f9f9f9;

  &__item {
    display: none;

    @media #{$tablet-widths} {
      margin-top: 19px;

      display: inline-block;
      font-weight: bold;
      font-size: 11.2pt;
      line-height: 24px;

      color: black;
    }

    @media #{$desktop-widths} {

    }
  }

  &__item--tablet {
    display: none;
    @media #{$tablet-widths} {
      display: inline-block;
      margin-right: 30px;
    }

    @media #{$desktop-widths} {
      display: none;
    }
  }

  &__item--desktop {
    display: none;

    @media #{$desktop-widths} {
      display: inline-block;
      margin-right: 56px;

    }

  }

  &__item--right {
    font-weight: normal;
    float: right;
  }

  &__header {
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-weight: bold;
    font-size: 21pt;
    line-height: 30px;

    @media #{$tablet-widths} {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 50px;

      font-size: 32pt;
      line-height: 50px;
    }

    @media #{$desktop-widths} {
      font-size: 39pt;
      margin-top: 54px;
    }

    &--img {

      margin-left: 25px;
      margin-right: 25px;

      @media #{$tablet-widths} {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 110px;

        font-size: 32pt;
        line-height: 50px;
      }

      @media #{$desktop-widths} {
        font-size: 42pt;

        letter-spacing: -1pt;

        margin: 110px 190px 0px 190px;
        line-height: 44pt;
      }
    }
  }
}
